BPM/BondingPrototypeApplication/BondingPrototypeProject/SOA/Schemas/BondProdSubLimitBPELProcess_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/TaxDutyBondApplication/BondProdSubLimitProject/BondProdSubLimitBPELProcess"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="BondId" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="BondProdSubLimit" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
